@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .shadow-up {
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1)
    }
    .bisel {
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15)
    }

    .scroll-hidden::-webkit-scrollbar {
        display: none
    }

    .scroll-hidden {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width   : none;
        /* Firefox */
    }
}

@layer components {
    .btn-primary-green {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-green-400 bg-green-400 hover:border-green-500 hover:bg-green-500 active:border-green-600 active:bg-green-600 focus:ring disabled:opacity-40 ring-green-200 text-white rounded-lg outline-none 
    }
    .btn-primary-red {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-red-400 bg-red-400 hover:border-red-500 hover:bg-red-500 active:border-red-600 active:bg-red-600 focus:ring disabled:opacity-40 ring-red-200 text-white rounded-lg outline-none 
    }
    .btn-primary-indigo {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-indigo-400 bg-indigo-400 hover:border-indigo-500 hover:bg-indigo-500 active:border-indigo-600 active:bg-indigo-600 focus:ring disabled:opacity-40 ring-indigo-200 text-white rounded-lg outline-none 
    }
    .btn-primary-blue {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-blue-400 bg-blue-400 hover:border-blue-500 hover:bg-blue-500 active:border-blue-600 active:bg-blue-600 focus:ring disabled:opacity-40 ring-blue-200 text-white rounded-lg outline-none 
    }

    .btn-secondary-green {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-green-400 text-green-400 hover:border-green-500 hover:text-green-500 active:bg-green-500 active:text-white focus:ring disabled:opacity-40 ring-green-200 bg-transparent rounded-lg outline-none
    }
    .btn-secondary-red {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-red-400 text-red-400 hover:border-red-600 hover:text-red-500 active:bg-red-500 active:text-white focus:ring disabled:opacity-40 ring-red-200 bg-transparent rounded-lg outline-none
    }
    .btn-secondary-blue {
        @apply flex gap-2 items-center justify-center px-4 py-1 border-2 transition border-blue-400 text-blue-400 hover:border-blue-600 hover:text-blue-500 active:bg-blue-500 active:text-white focus:ring disabled:opacity-40 ring-blue-200 bg-transparent rounded-lg outline-none
    }

    .btn-tertiary-green {
        @apply flex gap-2 items-center justify-center px-4 py-1 transition text-green-400 hover:text-green-500 active:bg-green-500 active:text-white focus:ring disabled:opacity-40 ring-green-200 bg-transparent rounded-lg outline-none
    }
    .btn-tertiary-red {
        @apply flex gap-2 items-center justify-center px-4 py-1 transition text-red-400 hover:text-red-500 active:bg-red-500 active:text-white focus:ring disabled:opacity-40 ring-red-200 bg-transparent rounded-lg outline-none
    }

    .label-input {
        @apply uppercase text-sm
    }
    .input-text {
        @apply disabled:opacity-25 col-span-2 outline-none pb-6 border-b border-slate-700 placeholder-slate-300 text-slate-700
    }

}