div.react-datepicker__input-time-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
}

div.react-datepicker-time__input-container {
    flex-grow: 1;
}

div.react-datepicker-time__input {
    width: 100%;
    display: flex;
    justify-content: end;
}

input.react-datepicker-time__input {
    outline: none;
    border: solid 1px #dddddd;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}
